.heading {
  color: var(--text-primary);
  font-size: 1.625rem;
  font-weight: 700;
  margin-bottom: 40px;
}

.histories {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.monthName {
  font-size: 0.75rem;
  font-weight: 500;
  margin-bottom: 16px;
}

.lists {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.list {
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.05);
  padding: 20px;
}

.link {
  color: currentColor;
  text-decoration: none;
}

.list:hover .chevronRight {
  transform: translate(5px);
}

.list:hover {
  cursor: pointer;
}

.itemName {
  font-size: 1rem;
  font-weight: 500;
  color: #000;
  text-decoration: none;
}

.listDetails {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.date {
  color: var(--disabled-color);
  font-size: 0.75rem;
  font-weight: 500;
}

.completed,
.cancelled {
  width: 76px;
  height: 24px;
  border-radius: 8px;
  border: 1px solid black;
  font-size: 0.75rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
  margin-right: 20px;
}

.completed {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

.cancelled {
  border-color: var(--danger-color);
  color: var(--danger-color);
}
