.box {
  overflow-y: scroll;
  background: #fff0de;
  padding: 45px;
  padding-bottom: 150px;
  height: 100vh;
}

.header {
  width: 100%;
  height: 130px;
  border-radius: 24px;
  background: #80485b;
  padding: 18px 27.5px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-bottom: 36px;
}

.headerImg {
  position: absolute;
  top: -15px;
  left: 7px;
}

.addItem {
  max-width: 160px;
  width: 100%;
}

.addItemText {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.addItemCTA {
  width: 120px;
  height: 40px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.04);
  color: #34333a;
  font-size: 0.875rem;
  font-weight: 700;
  border: none;
}

.addItemCTA:hover {
  cursor: pointer;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.title > p {
  color: #34333a;
  font-size: 1.5rem;
  font-weight: 700;
}

.editIcon:hover {
  cursor: pointer;
}

.categories {
  display: flex;
  flex-direction: column;
  row-gap: 52px;
}

.categoryName {
  color: #828282;
  font-size: 0.875rem;
  font-weight: 500;
}

.items {
  display: flex;
  flex-direction: column;
  row-gap: 28px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.itemName {
  color: #000;
  font-size: 1.125rem;
  font-weight: 500;
}

.qty,
.editQty {
  width: 68px;
  height: 32px;
  border-radius: 24px;
  border: 2px solid #f9a109;
  color: #f9a10a;
  font-size: 0.75rem;
  font-weight: 700;
  background-color: transparent;
}

.editQty {
  flex-shrink: 0;
}

.itemCheckbox {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.itemCheck {
  flex: 0;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  /* outline: 2px solid #f9a109; */
  background-color: #f9a109;

  accent-color: #fff0de;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'],
  input[type='radio'] {
    /* -webkit-appearance: none; */
    /* -moz-appearance: none; */
    --active: #275efe;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, 0.25);
    --border: #bbc1e1;
    --border-hover: #275efe;
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
  }
}

.qtyEditBox {
  display: flex;
  align-items: center;
  gap: 10px;
  /* height: 44.9px; */
  flex-shrink: 0;
  flex-grow: 1;
  padding-right: 8px;
  background: #fff;
  border-radius: 12px;

  display: none;
}

.item:hover > div:not(.item .itemCheckbox) {
  display: block;
}

.item:hover > .editQty {
  display: none;
}

.qtyEdit {
  display: flex;
  align-items: center;
  gap: 4px;
}

.qtyDel {
  width: 37.072px;
  height: 44.9px;
  border-radius: 12px;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.qtyDel:hover {
  cursor: pointer;
}

.editIcon:hover {
  cursor: pointer;
}

/* footer */
.footer {
  height: 130px;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 390px;
  padding: 34px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.ctaBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.ctaComplete,
.ctaCancel {
  width: 124px;
  height: 61.25px;
  border-radius: 12px;
  border: none;
  font-size: 1rem;
  font-weight: 700;
}

.ctaComplete:hover,
.ctaCancel:hover {
  cursor: pointer;
}

.ctaComplete {
  background: #56ccf2;
  color: white;
}

.ctaCancel {
  background: white;
  color: black;
}

.inputBox {
  position: relative;
  width: 100%;
  height: fit-content;
}

.listNameInput {
  width: 100%;
  height: 61.25px;
  padding-left: 17.5px;
  padding-right: 100px;
  border-radius: 12px;
  border: 2px solid #f9a109;
}

.listNameInput:focus-visible {
  outline: 0.5px solid #e09005;
}

.ctaSave {
  position: absolute;
  right: 0;
  width: 87.348px;
  height: 61px;
  border-radius: 12px;
  background: var(--primary-color);
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  border: none;
}

.ctaSave:hover:not(:disabled) {
  cursor: pointer;
}

.ctaSave:hover:disabled {
  cursor: not-allowed;
}

.ctaSave:disabled {
  background: #c1c1c4;
}

.listNameInput::placeholder {
  color: #bdbdbd;

  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.listNameInput:disabled {
  border-color: #c1c1c4;
}
/* empty list */

.emptyBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 325px);
}

.emptyText {
  color: #34333a;
  font-size: 1.25rem;
  font-weight: 700;
}

.emptyImg {
  position: absolute;

  bottom: 118px;
  z-index: 1;
}
