/* layout */
.container {
  height: 100%;
  display: grid;
  grid-template-columns: 95px 1fr;
}

/* inner container */
.innerContainer {
  display: grid;
  grid-template-columns: 1fr 390px;
  height: 100dvh;
}
/* inner container end */

/* content container */
.content {
  background-color: #fafafe;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding: 37.5px 80.5px;
}
/* content container end */

/* aside container */
.aside {
  overflow-y: scroll;
  width: 390px;
}
/* aside container end */

/* sidebar */
.sidebarBox,
.menus {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sidebarBox {
  padding-top: 52.5px;
  padding-bottom: 35px;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.menus {
  gap: 61px;
}

.activeLink {
  position: relative;
}

.activeLink::before {
  display: block;
  content: '';
  width: 6px;
  height: 45.981px;
  border-radius: 0px 4px 4px 0px;
  background-color: #f9a109;
  position: absolute;
  top: -9.99px;
  left: calc(-28px + -6px);
}

.cart {
  width: 42px;
  height: 42px;
  background-color: #f9a109;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cartNo {
  width: 20.715px;
  height: 19.97px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: #eb5757;

  position: absolute;
  top: -5px;
  right: -4px;

  color: #fff;
  font-size: 12px;
  font-weight: 500;
}

/* sidebar end */
