/* layout */
.container {
  height: 100%;
  display: grid;
  grid-template-columns: 95px 1fr 390px;
}

.content {
  background-color: #fafafe;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* sidebar */
.box,
.menus {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.box {
  padding-top: 52.5px;
  padding-bottom: 35px;
  height: 100vh;
  width: 100%;
  /* overflow-y: hidden; */
  overflow: none;
}

.menus {
  gap: 61px;
}

.activeLink {
  position: relative;
}

.activeLink::before {
  display: block;
  content: '';
  width: 6px;
  height: 45.981px;
  border-radius: 0px 4px 4px 0px;
  background-color: #f9a109;
  position: absolute;
  top: -9.99px;
  left: calc(-28px + -6px);
}

.cart {
  width: 42px;
  height: 42px;
  background-color: #f9a109;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cartNo {
  width: 20.715px;
  height: 19.97px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: #eb5757;

  position: absolute;
  top: -5px;
  right: -4px;

  color: #fff;
  font-size: 12px;
  font-weight: 500;
}

/* aside */
.aside {
  overflow: none;
  background: #fff0de;
  padding: 45px;
}

.header {
  width: 100%;
  height: 130px;
  border-radius: 24px;
  background: #80485b;
  padding: 18px 27.5px;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.headerImg {
  position: absolute;
  top: -15px;
  left: 7px;
}

.addItem {
  max-width: 160px;
  width: 100%;
}

.addItemText {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.addItemCTA {
  width: 120px;
  height: 40px;

  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.04);
  color: #34333a;
  font-size: 0.875rem;
  font-weight: 700;
  border: none;
}

.addItemCTA:hover {
  cursor: pointer;
}
